
section{
    display: flex;
}

.container{
    margin-right: 0;
}

form.form-jodit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin: auto;
}
.input-categoria{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    gap: 50%;
}

.btn-adicionar{
    height: 50px;
    width: 200px;
}

#editor{
    height: 80vh;
}

.nav-link{
    margin-top: 10px;
    margin-left: 40px;
}

.navbar-link-imagens{
    padding-top: 50px;
    margin-right: 100px;
}

@media screen and (max-width: 540px){
    form.form-jodit{
        gap: 30px;
    }
    .input-image{
        display: flex;
        gap: 10px;
    }
    section{
        flex-direction: column;
    }
    .input-categoria{
        gap: 10px;
    }

    .navbar-link-imagens{
        display: flex;
    }
}
